/**
 * {{properCase name }}
 */

import React from 'react';
import { Helmet } from 'react-helmet';
// import PropTypes from 'prop-types';

// eslint-disable-next-line arrow-body-style
const {{ properCase name }} = () => {
  return (
    <div>
      <Helmet>
        <title>{{properCase name}}</title>
        <meta name="description" content="Description of {{properCase name}}" />
      </Helmet>
    </div>
  );
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
